*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    gap: 1rem;
}
.div{
    display: flex;
    gap: 1rem;
}
#card{
    border: 2px solid black;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-size: 25px;
    margin: 10px 0;
    font-weight: 800;
}
#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
/* ---------- */
#container{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:top ;
}
#container i{
    opacity: 0;
    color: #e9e5e5;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(160%,-55%)  scale(0) ;
    transition: transform ease 0.5s;
}
/* ------------ */
.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s linear;
}